html, body, #root {
    width: 100%;
    height: 100%;
}

#map-wrapper, #error-wrapper {
    display: table-row;
    width: 100%;
    height: 100%;
}

#map-header {
    padding: 12px 8px;
}

#root {
    display: table;
    background: var(--themed-background) !important;
    color: var(--themed-foreground);
}

/*// TODO: это тоже уноси, нехуй этому здесь делать*/
body {
    border-color: var(--themed-background) !important;
    background-color: var(--themed-background) !important;
}

a, a:visited {
    color: var(--themed-link) !important;
}

body {
    background-color: var(--themed-background) !important;
}

.leaflet-pane.leaflet-tile-pane {
    z-index: 2;
}

.leaflet-pane.leaflet-map-pane {
    z-index: 4;
}

.leaflet-pane.leaflet-shadow-pane {
    z-index: 5;
}

.leaflet-pane.leaflet-overlay-pane {
    z-index: 5;
}

.leaflet-pane.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-pane.leaflet-tooltip-pane {
    z-index: 7;
}
